function MathUtil.power 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
return
label IF_FALSE0
push argument 1
push constant 1
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 0
push argument 0
push argument 1
push constant 2
call Math.divide 2
call MathUtil.power 2
call Math.multiply 2
push argument 0
push argument 1
push constant 2
call Math.divide 2
call MathUtil.power 2
call Math.multiply 2
return
goto IF_END1
label IF_FALSE1
push argument 0
push argument 1
push constant 2
call Math.divide 2
call MathUtil.power 2
push argument 0
push argument 1
push constant 2
call Math.divide 2
call MathUtil.power 2
call Math.multiply 2
return
label IF_END1
