function Main.main 1
push constant 1
call String.new 1
pop local 0
push local 0
call String.doubleQuote 0
call String.appendChar 2
pop temp 0
push constant 0
push constant 63
call Output.moveCursor 2
pop temp 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 0
return
