function Main.main 1
push constant 1
call String.new 1
pop local 0
push local 0
call String.doubleQuote 0
call String.appendChar 2
pop temp 0
push constant 2
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 53
call String.appendChar 2
push constant 54
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
